<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- My stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
  
  <!-- NAVBAR -->
  <div class="navbar-fixed">
    <nav class="red">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">YelpCamp</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <!-- If no user is signed in, show the following -->
            <% if(!currentUser){ %>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Sign up</a></li>
              <!-- Else, show the following -->
            <% } else{ %>
              <li><a href="#">Logged in as <%= currentUser.username %></a></li>
              <li><a href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <!-- If no user is signed in, show the following -->
    <% if(!currentUser){ %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Sign up</a></li>
      <!-- Else, show the following -->
    <% } else{ %>
      <li><a href="#">Logged in as <%= currentUser.username %></a></li>
      <li><a href="/logout">Logout</a></li>
    <% } %>
  </ul>
  
  <!-- CONNECT-FLASH -->
  <div class="container">
    <% if(error && error.length > 0){ %>
      <div class="alert-error" role="alert"><%= error %></div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div class="alert-success" role="alert"><%= success %></div>
    <% } %>
  </div>