<% include ../partials/header %>

<section id="comment-form">
  <div class="container">
    <div class="row">
      <div class=" col s12">
        <h3 class="center form-header">Add a New Comment to <%= campground.name %></h3>
      </div>
      <div class="col s12">
        <div class="card-panel center-align">
          <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <textarea name="comment[text]" class="materialize-textarea"></textarea>
                <label for="name">Campground</label>
              </div>
            </div>
            <button class="btn-flat btn-large red darken-1 white-text waves-effect waves-light">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>