<% include ../partials/header %>

<section id="banner">
  <div class="container">
    <div class='row'>
      <div class="col s12 banner-content">
        <h1>Welcome To YelpCamp</h1>
        <h3>View our campgrounds from all over the world</h3>
        <p>
          <a class="btn-large red lighten-1" href="campgrounds/new">Add a new a campground</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="campgrounds">
  <div class="container">
    <div class="row">
      <% campgrounds.forEach(function(campground){ %>
        <div class="col m6 l4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="<%= campground.image %>">
              <span class="card-title"><%= campground.name %></span>
            </div>
            <div class="card-content">
              <p><%= campground.description.substring(0,100) %>... </p>
            </div>
            <div class="card-action">
              <a href="/campgrounds/<%= campground._id %>" class="btn-small red darken-1">More Info</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<% include ../partials/footer %>