<% include ../partials/header %>

<Section id="new-campground">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center form-header">Add new campground</h3>
            </div>
            <div class="col s12">
                <div class="card center-align">
                    <div class="card-content">
                        <h2 class="card-title">New campground</h2>
                        <form action="/campgrounds" method="POST">
                          <div class="row">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">terrain</i>
                              <input name="name" id="name" type="text" class="validate">
                              <label for="name">Campground</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">attach_money</i>
                              <input name="price" id="price" type="number" min="0.01" step="0.01" class="validate">
                              <label for="price">Price</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">image</i>
                              <input name="image" id="image" type="text" class="validate">
                              <label for="image">Image</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <i class="material-icons prefix">short_text</i>
                              <textarea name="description" id="description" class="materialize-textarea hello"></textarea>
                              <label for="description">Description</label>
                            </div>
                          </div>
                          <button class="btn-flat btn-large red darken-1 white-text waves-effect waves-light form-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>

<% include ../partials/footer %>