body{
  font-family: 'Lato', sans-serif;
  color: #5b5b5b;
}

#banner{
    height: 100vh;
    background-image: url('https://i.postimg.cc/sXdFdLdB/banner-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner-content{
    position: relative;
    top: 140px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.banner-content h1{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 6px;
}

.banner-content h3{
    font-weight: 300;
    font-size: 1.30em;
    line-height: 1.7em;
    letter-spacing: 5px;
}

#campgrounds{
    padding-top: 70px;
}











/*img {*/
/*  width: 100%;*/
/*}*/

/*.thumbnail{*/
/*  padding: 0;*/
/*}*/

/*.thumbnail .caption-full{*/
/*  padding: 9px;*/
/*}*/

/*.delete-form{*/
/*  display: inline;*/
/*}*/