body{
  font-family: 'Lato', sans-serif;
  color: #5b5b5b;
}

.form-header{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 60px;
}

.form-btn{
    font-weight: 300;
}

/* CAMPGRROUNDS.EJS */
#banner{
    height: 100vh;
    background-image: url('https://i.postimg.cc/sXdFdLdB/banner-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner-content{
    position: relative;
    top: 140px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.banner-content h1{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 6px;
}

.banner-content h3{
    font-weight: 300;
    font-size: 1.30em;
    line-height: 1.7em;
    letter-spacing: 5px;
}

#campgrounds{
    padding-top: 70px;
}

/* LOGIN.EJS */
#login-form .card{
    max-width: 500px;
    margin: 0 auto;
}

#login-form .card-title{
    color: #388e3c;
    border-left: 5px solid #388e3c;
    padding-left: 4px;
    margin-right: 40px;
    font-size: 40px;
}

#login-form .form-btn{
    display: inline-block;
    width: 100%;
}